# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [1]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('./data/ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [2]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [3]:
# Corrected as Venues to Cities
city_unique = df_ipl["city"].unique()
print(city_unique)

['East London' 'Port Elizabeth' 'Centurion' 'neutral_venue' 'Chennai'
 'Jaipur' 'Kolkata' 'Delhi' 'Chandigarh' 'Hyderabad' 'Ranchi' 'Mumbai'
 'Bangalore' 'Dharamsala' 'Pune' 'Rajkot' 'Durban' 'Cuttack' 'Cape Town'
 'Ahmedabad' 'Johannesburg' 'Visakhapatnam' 'Abu Dhabi' 'Raipur' 'Kochi'
 'Kimberley' 'Nagpur' 'Bloemfontein' 'Indore' 'Kanpur']

### Find the columns which contains null values if any ?

In [4]:
df_ipl.isnull().sum()

match_code              0
date                    0
city                    0
venue                   0
team1                   0
team2                   0
toss_winner             0
toss_decision           0
winner               1818
win_type             1818
win_margin           1818
inning                  0
delivery                0
batting_team            0
batsman                 0
non_striker             0
bowler                  0
runs                    0
extras                  0
total                   0
extras_type        129064
player_out         129807
wicket_kind        129807
wicket_fielders    131657
dtype: int64

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [6]:
venues = df_ipl.groupby(["match_code"])["venue"].unique()
unique_venues = venues.reset_index(name ="stadium")

most_played_venues = unique_venues["stadium"].value_counts().head()
print(most_played_venues)

[M Chinnaswamy Stadium]              58
[Eden Gardens]                       54
[Feroz Shah Kotla]                   53
[Wankhede Stadium]                   49
[MA Chidambaram Stadium, Chepauk]    48
Name: stadium, dtype: int64

### Make a runs vs run-count frequency table

In [10]:
runs_frequency = df_ipl["runs"].value_counts()
print(runs_frequency)

0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [9]:
dates = pd.DatetimeIndex(df_ipl["date"]).year.unique()
len_date = len(dates)

print("The number of season recorded is {}.".format(len_date))

The number of season recorded is 9.

### What are the total no. of matches played per season

In [8]:
seasons = pd.DatetimeIndex(df_ipl["date"]).year

df_ipl["seasons"] = seasons
matches = df_ipl.groupby(["seasons"])["match_code"].nunique()
print(matches)

seasons
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [11]:
runs_season = df_ipl.groupby(["seasons"])["total"].sum()
print(runs_season)

seasons
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [12]:
runs_per_match = df_ipl.groupby(["match_code", "batting_team"])["total"].sum()
over_200 = runs_per_match[runs_per_match > 200]

top_10 = over_200.sort_values(ascending = False).head(10)
print(top_10)

match_code  batting_team
598027      Royal Challengers Bangalore    263
980987      Royal Challengers Bangalore    248
419137      Chennai Super Kings            246
335983      Chennai Super Kings            240
829795      Royal Challengers Bangalore    235
501260      Kings XI Punjab                232
501223      Delhi Daredevils               231
733987      Kings XI Punjab                231
980907      Royal Challengers Bangalore    227
829785      Royal Challengers Bangalore    226
Name: total, dtype: int64

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [14]:
runs_scored_match = df_ipl.groupby(["match_code", "batting_team", "inning", "win_type"])["total"].sum()
over_200_matches = runs_scored_match[runs_scored_match > 200]
df_ipl200 = over_200_matches.reset_index(name = "runs")
won_by_chasing_team = df_ipl200[(df_ipl200["inning"] == 2) & (df_ipl200["win_type"] == "wickets")]

first_team_200 = df_ipl200[df_ipl200["inning"] == 1]

percentage_team_2 = round((len(won_by_chasing_team)/len(first_team_200))*100,2)

print("The percentage of matches won by teams chasing 200 is {}.".format(percentage_team_2))

The percentage of matches won by teams chasing 200 is 15.38.

# Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [38]:
wins_by_team = df_ipl.groupby(["match_code", "winner", "seasons"]).size().reset_index(name = "wins")

wins_by_team_by_season = wins_by_team.groupby(["winner", "seasons"]).size().reset_index(name = "wins")

pivot_wins = pd.pivot_table(wins_by_team_by_season, index = ["winner"], columns = ["seasons"], values = "wins",
                            aggfunc = "sum")

most_wins = pivot_wins.idxmax()
print(most_wins)

seasons
2008         Rajasthan Royals
2009         Delhi Daredevils
2010           Mumbai Indians
2011      Chennai Super Kings
2012    Kolkata Knight Riders
2013           Mumbai Indians
2014          Kings XI Punjab
2015      Chennai Super Kings
2016      Sunrisers Hyderabad
dtype: object